@media screen and (min-width: 320px) and (max-width: 1120px) {
	.secone{
		background-image: url('../images/mobsnap.png');
	}
	.sectwo h3{
font-family: Playfair Display;
font-size: 27px;
line-height: 40px;
column-width: 319px;
padding-left: 146px;
}
	.secfourimg{
		  width: 103%;
    height: 80%;
    margin-top: -53px;
    margin-left: -66px;
	}
	.cardfivesnap{
		height: 80%;
    margin-top: 211px;
    margin-left: -89px;
	}
	.cardsixsnap{
		height: 80%;
    margin-top: 105px;
    margin-left: -89px;
	}
	.cardfour{
		margin-top: 185px;
	}
	.seccolumnfour p{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
margin-left: -219px;
margin-top: 93px;
width: 465px;
}
.cardsixseven{
	margin-left: -215px;
}
.seccolumnfour h6 {
    margin-left: -124px;
    margin-top: -55px;
    width: 97px;
    font-size: 11px;
    font-family: Playfair Display;
    line-height: 14.4px;
}
}
